@charset "UTF-8";

@font-face {
  font-family: "new-wargo";
  src:url("../fonts/new-wargo.eot");
  src:url("../fonts/new-wargo.eot?#iefix") format("embedded-opentype"),
    url("../fonts/new-wargo.woff") format("woff"),
    url("../fonts/new-wargo.ttf") format("truetype"),
    url("../fonts/new-wargo.svg#new-wargo") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "new-wargo" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-wargo-"]:before,
[class*=" icon-wargo-"]:before {
  font-family: "new-wargo" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wargo-arrow-up:before {
  content: "\61";
}
.icon-wargo-cart:before {
  content: "\62";
}
.icon-wargo-cart-pc:before {
  content: "\63";
}
.icon-wargo-cart-slight:before {
  content: "\64";
}
.icon-wargo-emoticon:before {
  content: "\65";
}
.icon-wargo-filter:before {
  content: "\66";
}
.icon-wargo-grid-view:before {
  content: "\67";
}
.icon-wargo-grid-view-pc:before {
  content: "\68";
}
.icon-wargo-heart:before {
  content: "\69";
}
.icon-wargo-heart-02:before {
  content: "\6a";
}
.icon-wargo-instagram:before {
  content: "\6b";
}
.icon-wargo-kanzashi:before {
  content: "\6c";
}
.icon-wargo-kimono:before {
  content: "\6d";
}
.icon-wargo-list-view:before {
  content: "\6e";
}
.icon-wargo-list-view-pc:before {
  content: "\6f";
}
.icon-wargo-menu-toggle-close:before {
  content: "\70";
}
.icon-wargo-menu-toggle-open:before {
  content: "\71";
}
.icon-wargo-ring:before {
  content: "\72";
}
.icon-wargo-search:before {
  content: "\73";
}
.icon-wargo-sort:before {
  content: "\74";
}
.icon-wargo-star:before {
  content: "\75";
}
.icon-wargo-umbrella:before {
  content: "\76";
}
