html{
	font-size: 62.5%;
}
body{
	background: #fff;
    color: #000;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", Arial, "Hiragino Kaku Gothic Pro", "Lucida Grande", Verdana, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
ul, ol{
	list-style: none;
	margin: 0; padding:  0;
}
a{
	text-decoration: none;
}
*{
	margin: 0; padding: 0;
}
img{
	max-width: 100%;
	height: auto;
	line-height: 1;
	font-size: 0;
}
.container{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	font-size: 1.4rem;
}
.row{
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.flexbox{
	display: -webkit-box !important;
	display: flex !important;
	display: -ms-flexbox !important;
}
.align-items-center{
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-align-items: center;
}
.align-items-start{
	-webkit-box-align: flex-start;
	    -ms-flex-align: flex-start;
	        align-items: flex-start;
	-webkit-align-items: flex-start;
}
.align-items-end{
	-webkit-box-align: flex-end;
	    -ms-flex-align: flex-end;
	        align-items: flex-end;
	-webkit-align-items: flex-end;
}
.justify-content-center{
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: center;
	-webkit-justify-content: center;
}
.justify-content-between{
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-justify-content: space-between;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.margin-bt10{
	margin-bottom: 10px;
}
.margin-bt20{
	margin-bottom: 20px;
}
.margin-bt30{
	margin-bottom: 30px;
}
.wrap-title{
	padding: 25px 0;
	background-color: #fff;
	border-top: 1px solid #e5e5e5;
}
.wrap-title .title-general{
	font-size: 19px;
	color: #707070;
	line-height: 1;
	font-weight: normal;
}
.wrap-title .title-general .box-title{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;

}
.wrap-title .title-general .link-more{
	float: right;
	color: #ff0068;
	font-size: 16px;
}
.wrap-title .title-general .icon-title-general{
	margin-right: 8px;
	font-size: 22px;
}
.wrap-session-general{
	background-color: #f3f3f3;
	padding-bottom: 10px;
}
/*===Header===*/
.fixed-scroll{
	position: fixed;
}
.top-header{
	background-image: url('../images/bg-top-header.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 13px 0px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	height: 50px;
	line-height: 0;
}
.top-header .box-top-header .icon{
	color: #000;
	font-size: 25px;
}
.top-header .box-top-header .left-top-header .icon{
	margin-right: 15px;
	position: relative;
	top: -2px;
}
.top-header .box-top-header .left-top-header > a{
	display: block;
}
.top-header .box-top-header .left-top-header .logo{
	width: 100px;
}
.top-header .box-top-header .right-top-header{
	padding-right: 10px;
}
.top-header .box-top-header .right-top-header .icon-top-header{
	margin-left: 15px;
}
.top-header .box-top-header .right-top-header .icon-top-header .icon{
	position: relative;
}
.top-header .box-top-header .right-top-header .icon-top-header .icon .add-num-cart{
	position: absolute;
	right: -10px;
	top: 0;
	border-radius: 50%;
	padding: 5px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background-color: #ff0068;
	color: #fff;
	font-size: 10px;
	width: 16px;
	height: 16px;
}
.fixed-top-header{
	position: fixed;
	top: 0;
	overflow: hidden;
	left: 0;
	z-index: 9999;
	width: 100%;
}
/*===Tab header===*/
.wrap-tab-header{
	margin: 10px 0;
}
.list-tab-header .tab-header-item{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
} 
.list-tab-header .tab-header-item .item{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 5px 0;
	font-size: 16px;
	font-weight: bold;
}
.list-tab-header .item-green .item{
	color: #26aaa2;
}
.list-tab-header .item-pink .item{
	color: #e7336b;
}
.list-tab-header .item-orange .item{
	color: #ec6437;
}
.list-tab-header .active,
.list-tab-header .active .item{
	border-radius: 2px; 
	color: #fff;
}
.list-tab-header .item-green.active{
	background-color: #26aaa2;
}
.list-tab-header .item-pink.active{
	background-color: #e7336b;
}
.list-tab-header .item-orange.active{
	background-color: #ec6437;
}
/*===Show Title List Cate===*/
.wrap-show-title-list-cate{
	margin:10px 0;
}
/*===Box search Top header===*/
.box-search-header .text-search{
	border: none;
    outline: none;
    padding: 0 5px 0 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: #f8f8f8;
    color: #b2b2b2;
    font-size: 12px;
}
.box-search-header .form-search{
	position: relative;
}
.box-search-header .form-search:before{
	position: absolute;
    left: 5px;
    top: 10px;
    content: " ";
    display: block;
    width: 15px;
    height: 15px;
    background-image: url(../images/icon-search.svg);
    background-repeat: no-repeat;
}
.box-search-header{
	border: 1px solid #000;
	margin-bottom: 15px;
}
.box-search-header .btn-search{
	padding: 7px 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
    cursor: pointer;
    background-color: #000;
    border: 0;
    line-height: normal;
    overflow: visible;
    -webkit-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.box-search-header .btn-search .icon{
	font-size: 20px;
	color: #fff;
}
/*===List icon cateory===*/
.list-icon-cate .icon-cate-item a{
	color: #231815;
	padding: 15px 5px 5px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: block;
}
.list-icon-cate .icon-cate-item .icon{
	font-size: 30px;
	font-size: 8vw;
}
.list-icon-cate .icon-cate-item.active{
	background-color: #eab045;
}
.list-icon-cate .icon-cate-item.active a{
	color: #fff;
}
/*===Slide Top Banner===*/
.list-slide-top-banner .slide-top-banner-item{
	line-height: 0;
}
.flexslider-wargo{
	border: none;
}
.flexslider-wargo .flex-direction-nav a{
	background-color: rgba(255, 255, 255, 0.9);
	width: 30px;
	height: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.flexslider-wargo .flex-direction-nav a.flex-prev:before,
.flexslider-wargo .flex-direction-nav a.flex-next:before{
	content: "";
    right: 0;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border-right: 2px solid rgba(0,0,0,1);
    border-bottom: 2px solid rgba(0,0,0,1);
}
.flexslider-wargo .flex-direction-nav .flex-prev,
.flexslider-wargo .flex-direction-nav .flex-prev:hover,
.flexslider-wargo:hover .flex-direction-nav .flex-prev{
	left: 0;
}
.flexslider-wargo .flex-direction-nav .flex-next,
.flexslider-wargo .flex-direction-nav .flex-next:hover,
.flexslider-wargo:hover .flex-direction-nav .flex-next{
	right: 0;
}
.flexslider-wargo .flex-direction-nav a.flex-prev:before{
	
    transform: rotate(145deg);
    -webkit-transform: rotate(132deg);
    -ms-transform: rotate(132deg);
    
}
.flexslider-wargo .flex-direction-nav a.flex-next:before{
	
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
.flexslider-wargo .flex-control-nav li{
	margin: 0 4px;
}
.flexslider-wargo .flex-direction-nav a{
	top: 35%;
}
.slider_pic_control .flex-direction-nav a{
	top: 50%;
}
.flexslider-wargo .flex-control-paging li a,
.flexslider-wargo .flex-control-paging li a:hover{
	width: 7px;
	height: 7px;
	background: rgba(0, 0, 0, 0.3);
}
.flexslider-wargo .flex-control-paging li a.flex-active{
	background: rgba(0, 0, 0, 0.9);
}
.wrap-slider-banner-top{
	margin-bottom: 30px;
}
.wrap-slider-banner-top .flex-control-nav{
	bottom: -20px;
}
.slider-ranking,
.slider-arrival{
	margin-bottom: 0;
}
.slider-ranking .list-grid-view .grid-view-item,
.slider-arrival .list-grid-view .grid-view-item{
	margin-bottom: 0;
}
.wrap-slider-infomation{
	margin-bottom: 0;
}
.wrap-slider-infomation .flex-control-nav{
	bottom: 10px;
}
.slider_pic_control{
	margin: 0;
}
.slider_pic_control .flex-control-nav{
	bottom: -65px;
	left: 5px;
	text-align: left;
}
.slider_pic_control .flex-control-nav li{
	border: 1px solid #fff;
	padding: 1px;
}
.slider_pic_control .flex-control-nav a{
	border-radius: 0;
}
.slider_pic_control .flex-control-nav li{
	margin: 0 2px;
}
.slider_pic_control .flex-control-paging li a, 
.slider_pic_control .flex-control-paging li a:hover{
	width: 10px;
	height: 10px;
}
.slider_pic_control .flex-control-nav li.active{
    border: 1px solid #898989;
}
.list-view-item .slider_pic_control .flex-control-nav{
	bottom: 11px;
	display: flex;
}
.list-view-item .slider_pic_control .flex-control-nav li{
	width: initial;
}

/*===Grid View Default General===*/
.list-grid-view{
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	margin-left: -1px;
	background-color: #fff;
}
.list-grid-view .grid-view-item{
  	width: 33.2%;
    width: calc(100% * (1/3) - 1px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #e5e5e5;
    padding-bottom: 25px;
}
.list-grid-view.no-slider .grid-view-item{
	margin: 0 -1px -1px 0;
}
.list-grid-view.no-slider .list-view-item{
	margin: 0 -1px 20px 0;
}
.list-grid-view .grid-view-item .status{
	display: none;
}
.list-grid-view .list-view-item .status{
	display: block;
	position: absolute;
    right: 50%;
    bottom: 12px;
    padding-right: 5px;
    text-align: right;
}
.list-grid-view .list-view-item{
	padding-bottom: 0;
}
/* slider ranking */
.slider-ranking{
	border: none;
}
.list-grid-view .grid-view-item .image{
	position: relative;
	line-height: 0;
}
.list-grid-view .grid-view-item .image .cercle-num{
	border-radius: 50%;
	padding: 3px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #000;
	color: #fff;
	font-size: 11px;
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 0;
}
.list-grid-view .grid-view-item .image .gold{
	background-color: #928d55;
}
.list-grid-view .grid-view-item .image .silver{
	background-color: #686767;
}
.list-grid-view .grid-view-item .image .bronze{
	background-color: #8a3900;
}
.list-grid-view .grid-view-item .info{
	padding: 5px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: #707070;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: #fff;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.list-grid-view .grid-view-item .info .description{
	margin-bottom: 5px;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}
.list-grid-view .grid-view-item .info .text-des{
	font-size: 8px;
	font-weight: normal;
	line-height: 1.3;
}
.list-grid-view .grid-view-item .info .wrap-price{
	line-height: 1;
}
.list-grid-view .grid-view-item .info .wrap-price .price{
	font-size: 14px;
}
.list-grid-view .grid-view-item .info .wrap-price .tax{
	font-size: 7px;
	position: relative;
	bottom: 3px;
}
.list-grid-view .grid-view-item .info .wishlist .icon{
	color: #ff0068;
	font-size: 12px;
}
.list-grid-view .grid-view-item .info .wishlist .icon-last{
	margin-left: 5px;
	display: none !important;
}
.list-grid-view .list-view-item .info .wishlist .icon-last{
	display: block !important;
}
/*===List View===*/
.list-grid-view .list-view-item{
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
    width: 100%;
    margin: 0 0 -1px;
    border-left: none;
    border-right: none;
}
.list-grid-view .list-view-item .sub-item{
	width: 24%;
    width: calc(100% * (1/2) - 15px);
    margin: 0;
}
.list-grid-view .list-view-item .pic-control{
	width: 50%;
}
.list-grid-view .list-view-item .info{
	padding: 10px 10px 10px 15px;
	color: #000;
}
.list-grid-view .list-view-item .sm-text-info{
	margin-bottom: 10px;
}
.list-grid-view .list-view-item .sm-text-info p{
	font-size: 11px;
	line-height: 1.5;
}
.list-grid-view .list-view-item .lg-text-info{
	font-size: 13px;
	line-height: 1.5;
}
/*===List View Filter===*/
.list-grid-view .list-view-item-filter{
	border: none;
	margin: 0 0 15px;
}
/*.list-grid-view .list-view-item-filter:first-child{
	border-top: 1px solid #e5e5e5;
}*/
.list-grid-view .list-view-item-filter .info{
	padding-bottom: 0;
    color: #707070;
    display: inherit;
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
    width: 50%;
}
.list-grid-view .list-view-item-filter .info .description{
	-webkit-box-flex: inherit;
	    -ms-flex: inherit;
	        flex: inherit;
}
.list-grid-view .list-view-item-filter .info .text-des{
	font-size: 13px;
}
.list-grid-view .grid-view-item .info .des-text-info{
	padding-bottom: 10px;
	margin-top: 10px;
    color: #000;
    font-size: 9px;
    display: none;
}
.list-grid-view .list-view-item .info .des-text-info{
    display: block;
}
.control-paging{
	padding: 5px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.out-stock{
	font-size: 8px;
	color: #898989;
}
/*===Wargo Instagram===*/
.list-wargo-instagram{
	background-color: #ff0068;
	text-align: center;
	color: #fff;
	padding: 50px 0;
	font-size: 20px;
}
/*===Information===*/
.box-information{
	background-color: #fff;
	padding-bottom: 10px;
}
.list-information{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.list-information .info-item .pic-info-slide{
	line-height: 0;
	margin-bottom: 15px;
}
.list-information .info-item .box-des-info-slide{
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 20px;
	color: #707070;
}
.list-information .info-item .box-des-info-slide .title-des-info{
	font-size: 15px;
	margin-bottom: 5px;
}
.list-information .info-item .box-des-info-slide .sub-des-info{
	font-size: 13px;
}
/*===News===*/
.box-news{
	background-color: #fff;
}
.list-news{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.list-news .item-news{
	border-bottom: 1px solid #e5e5e5;
	padding: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.list-news .item-news:first-child{
	border-top: 1px solid #e5e5e5;
}
.list-news .item-news .pic-news{
	line-height: 0;
	margin-right: 10px;
	width: 30%;
}
.list-news .item-news .pic-news img{
	width: 100%;
}
.list-news .item-news .info-news{
	color: #707070;
	font-size: 14px;
}
.wrap-link-page .read-more{
	color: #adadad;
	font-size: 10px;
}
/*===Category===*/
.list-category{
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin-left: -1px;
    background-color: #fff;
}
.list-category .cate-item{
	width: 25%;
    width: calc(100% * (1/2) - 1px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid #e5e5e5;
    margin: 0 0 -1px -1px;
    padding: 10px 0;
   	text-align: center;
}
.list-category .cate-item a{
	font-size: 13px;
	color: #707070;
}
/*===Box Filter===*/
.wrap-box-filter{
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding: 13px 0 8px;
	background-color: #fff;
}
.box-filter .show-cat-name{
	color: #231815;
	line-height: 1;
}
.box-filter .show-cat-name .sm-text-cat{
	font-size: 14px;
}
.box-filter .show-cat-name .lg-text-cat{
	font-size: 35px;
}

/*===slider-range===*/
.wrap-slider-range{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	margin-right: 10px;
}
.slider-range .range-price{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
}
.slider-range .price{
    width: 40%;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #e3e3e3;
    padding: 0 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #707070;
    font-size: 12px;
}
.slider-range .ui-slider-horizontal{
    height: 5px;
    background: #e3e3e3;
    border: none;
    border-radius: inherit;
}
.slider-range .ui-slider-horizontal .ui-slider-handle{
    top: -10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    outline: none;
}

.box-filter .list-icon-filter .icon-filter-item{
	margin-left: 15px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	line-height: 1;
}
.box-filter .list-icon-filter .icon-filter-item .icon-name-ft{
	font-size: 9px;
	font-weight: bold;
	color: #707070;
	margin-bottom: 5px;
}
.box-filter .list-icon-filter .icon-filter-item .icon{
	color: #ff0068;
	font-size: 35px;
}
/*===Sidebar Menu===*/
.wrap-sidebar-menu{
	height: 100%; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 50px; /* Stay at the top */
    left: -1000px;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    -webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.wrap-sidebar-menu.active{
	left: 0;
}
.list-pic-sb-menu{
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.list-pic-sb-menu .pic-sb-menu-item{
	width: 25%;
	position: relative;
	line-height: 0;
}
.list-pic-sb-menu .pic-sb-menu-item .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(252, 0, 138, 0);
}
.list-pic-sb-menu .pic-sb-menu-item .overlay .icon{
	font-size: 50px;
	color: rgba(255, 255, 255, 0);
}
.list-pic-sb-menu .pic-sb-menu-item.active .overlay{
	background-color: rgba(252, 0, 138, 1);
}
.list-pic-sb-menu .pic-sb-menu-item.active .icon{
	color: rgba(255, 255, 255, 1);
}
/*===wrap-sb-menu-cate-top===*/
.list-sb-menu-cate{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.list-sb-menu-cate .sb-menu-cate-item .sb-title-cate{
	border-bottom: 1px solid #e5e5e5;
	color: #707070;
	font-size: 14px;
	padding: 10px 0;
	width: 100%;
}
.list-sb-menu-cate .sb-menu-cate-item .sb-title-cate .text-cate{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}
.list-sb-menu-cate .sb-menu-cate-item .sb-title-cate .arrow{
	content: "";
    right: 0;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    border-right: 1px solid rgba(171,171,171,1);
    border-bottom: 1px solid rgba(171,171,171,1);
    cursor: pointer;
    margin: -7px 5px 0;
}
.list-sb-menu-cate .sb-menu-cate-item.active .sb-title-cate .arrow{
	transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    margin-top: 7px;
}
.list-sb-menu-cate .sb-menu-cate-item.active .sb-title-cate{
	color: #fc008a;
}
.list-sb-menu-cate .sb-menu-cate-item .sub-list-cate-lv1{
	padding-left: 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: none;
}
.list-sb-menu-cate .sb-menu-cate-item .sub-list-cate-lv1 .sub-title-cat-lv1{
	color: #000;
	padding: 7px 0;
}
.list-sb-menu-cate .sb-menu-cate-item .sub-list-cate-lv2{
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.list-sb-menu-cate .sb-menu-cate-item .sub-list-cate-lv2 .sub-cate-item-lv2{
	position: relative;
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.list-sb-menu-cate .sb-menu-cate-item .sub-list-cate-lv2 .sub-cate-item-lv2:before{
	position: absolute;
	top: 8px;
	left: 0;
	content: "-";
}
.list-sb-menu-cate .sb-menu-cate-item .sub-list-cate-lv2 .sub-cate-item-lv2 a{
	display: block;
	color: #000;
	font-size: 14px;
	padding: 7px 0;
}
/*===wrap-sb-menu-cate-bottom===*/
.wrap-sb-menu-cate-bottom{
	background-color: #1e1311;
	padding-bottom: 50px; 
}
.list-sb-menu-cate-bt{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.list-sb-menu-cate-bt .sb-menu-cate-bt-item{
	border-bottom: 1px solid #fff;
}
.list-sb-menu-cate-bt .sb-menu-cate-bt-item:last-child{
	border: none;
}
.list-sb-menu-cate-bt .sb-menu-cate-bt-item a{
	display: block;
	color: #707070;
	font-size: 14px;
	padding: 10px 0;
}




/*===Footer===*/
.title-ft{
	line-height: 1;
	border-bottom: 1px solid #707070;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 10px;
	color: #707070;
}
.wrap-footer{
	background-color: #ebebeb;
	padding-bottom: 30px;
}
/*===Banner Footer===*/
.wrap-footer-banner{
	margin-bottom: 30px;
}
.list-ft-banner{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.list-ft-banner .banner-item{
	line-height: 0;
	margin-bottom: 5px;
}
/*===SNS===*/
.wrap-sns{
	margin-bottom: 30px;
}
.list-sns{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.list-sns .sns-item{
	border-bottom: 1px solid #707070;
	padding-bottom: 10px;
	margin-bottom: 10px;	
}
.list-sns .sns-item .pic-sns{
	line-height: 0;
	margin-right: 6px;
}
.list-sns .sns-item .pic-sns:last-child{
	margin-right: 0;
}
/*===Footer Menu===*/
.wrap-ft-menu{
	margin-bottom: 20px;
}
.list-ft-menu .menu-item{
	border-bottom: 1px solid #707070;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.list-ft-menu .menu-item a{
	color: #707070;
	font-size: 13px;
}
.list-ft-menu .menu-item .pic-ft-menu{
	line-height: 0;
	margin-right: 5px;
}
/*===CopyRight===*/
.wrap-copyright{
	color: #707070;
	font-size:  11px;
}
@media (max-width: 360px){
	.slider_pic_control .flex-control-nav {
	    bottom: -80px;
	}

}